@import "../../assets/less/global.css";
@import (reference) "https://unpkg.com/@core-ds/primitives/core-primitives.less";

@text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);

// :host targets the custom element compiled by Stencil
:host {
  display: flex;

  // @Prop color
  &([color="gray"]) .native-element {
    background-color: @color-gray-1;
    color: rgba(0, 3, 6, 0.87);

    .icon-outter {
      color: @color-gray-5;

      svg#globe {
        display: block;
      }
    }
  }

  &([color="green"]) .native-element {
    background-color: @color-green-light-4;
    color: @color-green-dark-2;

    .icon-outter {
      color: @color-green;

      svg#check {
        display: block;
      }
    }
  }

  &([color="yellow"]) .native-element {
    background-color: @color-yellow-light-4;
    color: @color-yellow-dark-3;

    .icon-outter {
      color: @color-yellow;

      svg#alert-circle {
        display: block;
      }
    }
  }

  &([color="red"]) .native-element {
    background-color: @color-red-light-4;
    color: @color-red-dark-2;

    .icon-outter {
      color: @color-red;

      svg#alert-circle {
        display: block;
      }
    }
  }

  .icon-outter {
    align-self: center;
    height: @space-4;
    margin-right: @space-4;

    svg {
      display: none;
    }
  }
}

// native element styles with intentional lower specificity
.native-element {
  border-radius: @border-radius-md;
  box-sizing: border-box;
  display: flex;
  font: inherit;
  line-height: 16px;
  max-width: 100%;
  min-height: 44px;
  min-width: 565px;
  padding: 14px 16px;
  width: inherit;
}
