@import (reference) "https://unpkg.com/@core-ds/primitives/core-primitives.less";

// :host targets the custom element compiled by Stencil
:host {
  display: inline-flex;
  font: inherit;

  // @Prop basic variation
  &(.basic[loading]) {
    slot {
      color: @color-gray-3;
    }

    .button-loading::after {
      border: 2px solid @color-gray-3;
      border-top-color: currentColor;
    }
  }

  // @Prop primary variation
  &(.primary) {
    .native-element {
      background: @color-blue;
      border-color: transparent;
      color: @color-white;

      &:not(:disabled):not([loading]) {
        &:hover,
        &:active,
        &:focus {
          background: @color-blue-dark-1;
          border-color: @color-blue-dark-1;
        }

        &:active {
          border-color: @color-blue-dark-2;
          box-shadow: inset 0 0 0 1px @color-blue-dark-2;
        }
      }

      &:disabled {
        // background: @color-gray-2;
        background: fade(@color-blue, 50%);
        // color: @color-gray-5;
        opacity: 0.5;
      }
    }
  }

  &(.primary[loading]) {
    slot {
      color: @color-blue-light-2;
    }

    .button-loading::after {
      border: 2px solid @color-blue-light-2;
      border-top-color: currentColor;
    }
  }

  // @Prop secondary variation
  &(.secondary) {
    .native-element {
      background: @color-gray-1;
      border-color: transparent;

      &:not(:disabled):not([loading]) {
        &:hover,
        &:active,
        &:focus {
          background: @color-gray-2;
          border-color: @color-gray-2;
        }

        &:active {
          border-color: @color-gray-4;
          box-shadow: inset 0 0 0 1px @color-gray-4;
        }
      }

      &:disabled {
        background: @color-gray-2;
        color: @color-gray-5;
        opacity: 0.5;
      }
    }
  }

  // @Prop dark variation
  &(.dark) {
    .native-element {
      background: @color-green;
      border-color: transparent;
      color: @color-white;

      &:not(:disabled):not([loading]) {
        &:hover,
        &:active,
        &:focus {
          background: @color-green-dark-1;
          border-color: @color-green-dark-1;
        }

        &:active {
          border-color: @color-green-dark-2;
          box-shadow: inset 0 0 0 1px @color-green-dark-2;
          outline: none;
        }
      }

      &:disabled {
        // background: @color-gray-2;
        background: fade(@color-green, 50%);
        // color: @color-gray-5;
        opacity: 0.5;
      }
    }
  }

  &(.dark.success) .native-element {
    background: @color-green;
    color: @color-white;

    &:active {
      box-shadow: inset 0 0 0 1px @color-green;
    }
  }

  &(.dark.danger) .native-element {
    background: @color-red;
    color: @color-white;

    &:not(:disabled):not([loading]) {
      &:hover,
      &:active,
      &:focus {
        background: @color-red-dark-1;
        border-color: @color-red-dark-1;
      }

      &:active {
        box-shadow: inset 0 0 0 1px @color-red-dark-2;
      }
    }
  }

  &(.dark.warning) .native-element {
    background: @color-yellow;
    color: @color-gray-8;

    &:not(:disabled):not([loading]) {
      &:hover,
      &:active,
      &:focus {
        background: @color-yellow-dark-1;
        border-color: @color-yellow-dark-1;
      }

      &:active {
        border-color: @color-yellow-dark-2;
        box-shadow: inset 0 0 0 1px @color-yellow-dark-2;
      }
    }
  }

  &(.dark.alt) .native-element {
    background: #7f5aea;
    color: @color-white;

    &:not(:disabled):not([loading]) {
      &:hover,
      &:active,
      &:focus {
        background: #6447bb;
        border-color: #6447bb;
      }

      &:active {
        box-shadow: inset 0 0 0 1px #493488;
      }
    }
  }

  // @Prop light variation
  &(.light) {
    .native-element {
      background: @color-green-light-4;
      border-color: transparent;
      color: @color-green-dark-1;

      &:not(:disabled):not([loading]) {
        &:hover,
        &:active,
        &:focus {
          background: @color-green-light-3;
          border-color: @color-green-light-3;
          color: @color-green-dark-3;
        }

        &:active {
          border-color: @color-green-light-1;
          box-shadow: inset 0 0 0 1px @color-green-light-1;
          outline: none;
        }
      }

      &:disabled {
        background: @color-gray-2;
        color: @color-gray-5;
        opacity: 0.5;
      }
    }
  }

  &(.light.success) .native-element {
    background: @color-green-light-4;
    color: @color-green-dark-1;

    &:active {
      box-shadow: inset 0 0 0 1px @color-green-light-4;
    }
  }

  &(.light.danger) .native-element {
    background: @color-red-light-4;
    color: @color-red-dark-1;

    &:not(:disabled):not([loading]) {
      &:hover,
      &:active,
      &:focus {
        background: @color-red-light-3;
        border-color: @color-red-light-3;
        color: @color-red-dark-1;
      }

      &:active {
        border-color: @color-red-light-1;
        box-shadow: inset 0 0 0 1px @color-red-light-1;
      }
    }
  }

  &(.light.warning) .native-element {
    background: @color-yellow-light-4;
    color: @color-yellow-dark-3;

    &:not(:disabled):not([loading]) {
      &:hover,
      &:active,
      &:focus {
        background: @color-yellow-light-3;
        border-color: @color-yellow-light-3;
        color: @color-yellow-dark-3;
      }

      &:active {
        border-color: @color-yellow-light-1;
        box-shadow: inset 0 0 0 1px @color-yellow-light-1;
      }
    }
  }

  &(.light.alt) .native-element {
    background: #dacdff;
    color: @color-gray-8;

    &:not(:disabled):not([loading]) {
      &:hover,
      &:active,
      &:focus {
        background: #ae93f9;
        border-color: #ae93f9;
        color: @color-gray-8;
      }

      &:active {
        border-color: #7f5aea;
        box-shadow: inset 0 0 0 1px #7f5aea;
      }
    }
  }

  // @Prop loading
  &([loading]) {
    .native-element {
      cursor: not-allowed;
    }

    .button-loading::after {
      content: "";
      border-radius: 50%;
      border: 2px solid @color-gray-2;
      border-top-color: currentColor;
      width: @space-3;
      height: @space-3;
      animation: loadingAnimation 1s infinite cubic-bezier(0.4, 0.4, 0.85, 1);
    }
  }

  &([loading="right"]) .button-loading {
    display: flex;
    margin-left: @space-2;
  }

  &([loading="left"]) .button-loading {
    display: flex;
    margin-right: @space-2;
    order: -1;
  }

  &([loading="only"]) {
    slot {
      visibility: hidden;
    }

    .button-loading {
      display: flex;
      position: absolute;
      left: calc(50% - @space-2);
    }
  }

  // @Prop href
  ([href]) .native-element {
    text-decoration: underline;
  }

  // @Prop small size
  ([size="small"]) .native-element {
    font-weight: normal;
    padding: 5px 12px 6px;
  }

  // @Prop large size
  ([size="large"]) .native-element {
    padding: 14px 24px;
  }

  // @Prop block width
  ([width="full"]) .native-element {
    border: 0;
    border-radius: 0;
    width: 100%;
  }

  // @Prop inherit width
  ([width="inherit"]) .native-element {
    width: 100%;
  }

  // @Prop icon-only
  &(.icon-only) .native-element {
    padding: 9px;
  }

  // @Prop circle radius
  &([radius="circle"]) .native-element {
    border-radius: 50%;
  }
}

// @Prop basic (default) button styles with intentional lower specificity
.native-element {
  background: @color-white;
  border-radius: @border-radius-md;
  border: 1px solid @color-gray-3;
  box-shadow: 0 0 0 0 transparent;
  box-sizing: border-box;
  color: @color-gray-8;
  font: inherit;
  font-weight: bold;
  max-width: 100%;
  outline: none;
  padding: 8px 15px 9px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background 0.12s cubic-bezier(0.47, 0, 0.75, 0.72),
    border 0.12s cubic-bezier(0.47, 0, 0.75, 0.72),
    box-shadow 0.12s cubic-bezier(0.47, 0, 0.75, 0.72),
    color 0.12s cubic-bezier(0.47, 0, 0.75, 0.72);
  white-space: nowrap;

  &:not(:disabled):not([loading]) {
    &:hover {
      border-color: @color-gray-5;
      cursor: pointer;
    }

    &:focus {
      border-color: @color-gray-5;
      outline: none;
    }

    &:active {
      border-color: @color-gray-5;
      box-shadow: inset 0 0 0 1px @color-gray-5;
      outline: none;
    }
  }

  &:disabled {
    background: @color-gray-2;
    border-color: transparent;
    color: @color-gray-5;
    cursor: not-allowed;
    opacity: 0.5;
  }

  .button-inner {
    display: flex;
    align-items: center;
  }

  .button-loading {
    display: none;
  }
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
