*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/

dist/
dist-transpiled/
node_modules/
temp/
tmp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

# Stencil compiled:
build/
css/
hydrate/
loader/
www/

packages/components-web/custom-elements.json
packages/components-web/src/components.d.ts
