*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/

coverage/
collection/
dist/
dist-transpiled/
node_modules/
temp/
tmp/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

.package.tmp.json

# Stencil
.stencil/

build/
css/
hydrate/
loader/
www/

components-web/src/components.d.ts
components-web/custom-elements.json
