@tab-line-height: 3px;

// `:host` targets the custom element compiled by Stencil
:host {
  display: flex;
  position: relative;

  &::after {
    content: "";
    background-color: @color-gray-2;
    .pill(@tab-line-height);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &([size="large"]) .native-element {
    font-size: @font-size-2;
  }

  &([size="small"]) {
    font-size: 14px;
    line-height: 1.142857;

    &::after {
      .pill(2px);
    }

    .native-element {
      height: 21px;
    }
  }

  .native-element {
    align-items: stretch;
    display: flex;
    font-weight: bold;
    height: 35px;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
