:host {
  display: inline-flex;
  vertical-align: middle;
}
:host([disabled]:not([disabled="false"])),
:host([disabled="true"]) {
  cursor: not-allowed;
}
:host([disabled]:not([disabled="false"])) core-icon,
:host([disabled="true"]) core-icon,
:host([disabled]:not([disabled="false"])) label,
:host([disabled="true"]) label {
  color: var(--color-gray-4) !important;
}
:host([disabled]:not([disabled="false"])) .native-element,
:host([disabled="true"]) .native-element {
  pointer-events: none;
}
:host([label-display="block"]) .textarea-outer {
  display: block;
}
:host([label-display="block"]) label {
  margin-bottom: var(--space-2);
}
:host([label-display="inline"]) .textarea-outer {
  display: flex;
  justify-content: center;
}
:host([label-display="inline"]) label {
  align-self: center;
  display: flex;
  margin-bottom: 0;
}
:host([label-position="left"]) label {
  margin-right: var(--space-2);
}
:host([label-display="inline"][label-position="right"]) .textarea-outer {
  flex-direction: row-reverse;
}
:host([label-display="inline"][label-position="right"]) label {
  margin-left: var(--space-2);
}
:host([label-display="block"][label-position="right"]) label {
  justify-content: flex-end;
}
.textarea-outer {
  width: inherit;
}
label {
  display: flex;
}
label {
  color: var(--color-gray-8);
  transition: color 0.12s ease-in-out;
}
.native-element {
  border: 1px solid var(--color-gray-3);
  border-radius: var(--space-1);
  box-shadow: 0 0 0 0 transparent;
  box-sizing: border-box;
  color: var(--color-gray-8);
  font: inherit;
  outline: none;
  padding: var(--space-3) var(--space-4);
  transition: box-shadow 0.12s ease-in-out;
  width: inherit;
}
.native-element::placeholder {
  color: var(--color-gray-4);
}
.native-element:focus,
.native-element:active {
  border-color: var(--color-gray-5);
  box-shadow: var(--focus-box-shadow);
}
