@import (reference) "https://unpkg.com/@core-ds/primitives/core-primitives.less";
@box-shadow: 0 0 0 3px fade(@color-blue-light-1, 30%);

// :host targets the custom element compiled by Stencil
:host {
  color: @color-gray-5;
  display: inline-flex;
  font: inherit;
  position: relative;

  &([icon]) .native-element {
    padding-left: 40px;
  }

  // @Prop size large
  &([size="large"]) .native-element {
    font-size: 16px;
    padding: 14px 20px 14px 50px;
  }

  // @Prop type text (default)
  &([type="text"]) {
    width: 100%;

    .native-element {
      width: inherit;
    }
  }

  // @Prop type checkbox
  &([type="checkbox"]) {
    .input-inner {
      height: @space-4;
      margin-right: @space-2;
      width: @space-4;
    }

    .native-element {
      height: inherit;
      margin: 0;
      min-height: inherit;
      padding: 0;
      width: inherit;
    }
  }

  &(.core-error) {
    color: @color-red;

    .native-element {
      border-color: @color-red-light-1;

      &:not(:disabled) {
        &:focus,
        &:active {
          border-color: @color-red;
          box-shadow: 0 0 0 3px fade(@color-red-light-1, 30%);
        }
      }
    }
  }

  &(.core-success) {
    color: @color-green;

    .native-element {
      border-color: @color-green-light-1;

      &:not(:disabled) {
        &:focus,
        &:active {
          border-color: @color-green;
          box-shadow: 0 0 0 3px fade(@color-green-light-1, 30%);
        }
      }
    }
  }

  &(.core-search) .native-element {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);

    &:not(:disabled) {
      &:focus,
      &:active {
        border-color: @color-gray-5;
        box-shadow: @box-shadow;
      }
    }
  }
}

.input-inner {
  width: inherit;
}

.native-element {
  background: @color-white;
  border: 1px solid @color-gray-3;
  border-radius: @space-1;
  box-shadow: 0 0 0 0 transparent;
  box-sizing: border-box;
  color: @color-gray-8;
  font: inherit;
  min-height: 36px;
  outline: none;
  padding-right: @space-4;
  padding-left: @space-4;
  transition: box-shadow 0.12s ease-in-out;
  width: inherit;

  &::placeholder {
    color: @color-gray-4;
  }

  &:not(:disabled) {
    &:focus,
    &:active {
      border-color: @color-gray-5;
      box-shadow: @box-shadow;
    }
  }

  &:disabled {
    background: @color-gray-1;
    border-color: transparent;
    color: @color-gray-4;
    cursor: not-allowed;
  }
}
