@import (reference) "https://unpkg.com/@core-ds/primitives/core-primitives.less";

// :host targets the custom element compiled by Stencil
:host {
  color: @color-gray-5;
  display: inline-flex;
  font: 14px "Inter", sans-seif;
  position: relative;

  &([icon]) .native-element {
    padding-left: 40px;
  }

  // @Prop size large
  ([size="large"]) .native-element {
    font-size: 16px;
    padding: 14px 20px 14px 50px;
  }

  // @Prop type checkbox
  ([type="checkbox"]) .native-element {
    height: @space-4;
    margin: 0 @space-2 0 0;
    padding: 0;
    width: @space-4;
  }

  &(.core-error) {
    color: @color-red;

    .native-element {
      border-color: @color-red-light-1;
    }
  }

  &(.core-success) {
    color: @color-green;

    .native-element {
      border-color: @color-green-light-1;
    }
  }

  &(.core-search) .native-element {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  }
}

.input-inner {
  width: inherit;
}

.native-element {
  background: @color-white;
  border: 1px solid @color-gray-3;
  border-radius: @space-1;
  box-sizing: border-box;
  color: @color-gray-8;
  font: inherit;
  min-height: 36px;
  padding-right: @space-4;
  padding-left: @space-4;
  width: inherit;

  &::placeholder {
    color: @color-gray-4;
  }

  &:focus {
    border-color: @color-gray-4;
    outline: fade(@color-blue, 20%) solid 2px;
    outline-offset: 1px;
  }

  &:active {
    border-color: @color-gray-7;
    outline: 0;
  }

  &:disabled {
    background: @color-gray-1;
    border-color: transparent;
    color: @color-gray-4;
    cursor: not-allowed;
  }
}
