@import (reference) "../../assets/font/inter/inter.css";
@import (reference) "https://unpkg.com/@core-ds/primitives/core-primitives.less";

// :host targets the custom element compiled by Stencil
:host {
  display: flex;
  font-family: "Inter", sans-serif;
  font-feature-settings: "tnum" on, "lnum" on, "ss01" on;
  font-size: 13px;
  line-height: 1.142857;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;

  // @Prop color
  &(.black) .native-element {
    background: @color-gray-7;
  }

  &(.red) .native-element {
    background: @color-red;
  }

  // @Prop variation
  &(.border) .native-element {
    background: @color-white;
    box-shadow: 0 0 0 1px currentColor inset;
    color: currentColor;
  }

  &(.border.black) .native-element {
    box-shadow: 0 0 0 1px @color-gray-4 inset;
    color: @color-gray-7;
  }

  &(.border.red) .native-element {
    box-shadow: 0 0 0 1px @color-red-light-2 inset;
    color: @color-red;
  }

  &(.dot) .native-element {
    .dot-inner {
      background: @color-white;
      border-radius: 50%;
      height: 5px;
      margin: auto;
      width: 5px;
    }

    slot {
      display: none;
    }
  }

  &(.fill) .native-element {
    color: @color-white;
  }

  // @Prop small size
  &([size="small"]) .native-element {
    border-radius: calc(16px / 2);
    font-size: 11px;
    height: 16px;
    letter-spacing: unset;
    line-height: 12px;
    min-width: 16px;
    padding: 2px @space-1;
  }

  &([size="small"].dot) .dot-inner {
    height: 4px;
    width: 4px;
  }
}

// native element styles with intentional lower specificity
.native-element {
  align-items: center;
  border-radius: calc(23px / 2);
  box-sizing: border-box;
  cursor: default;
  display: flex;
  font: inherit;
  font-size: 12px;
  font-weight: bold;
  height: 23px;
  justify-content: center;
  line-height: 15px;
  max-width: 100%;
  min-width: 23px;
  padding: @space-1 7px;
  white-space: nowrap;
}
