// `:host` targets the custom element compiled by Stencil
:host {
  display: flex;
  max-height: 40px;
  max-width: 40px;
  position: relative;

  &([size="large"]) {
    max-height: 64px;
    max-width: 64px;
  }

  &([variation="circle"]) {
    ::slotted(img) {
      border-radius: @border-radius-pill;
    }
  }

  &([variation="square"]) {
    ::slotted(img) {
      border-radius: @border-radius-md;
    }
  }
}

.notification {
  border-radius: @border-radius-pill;
  height: @space-4;
  position: absolute;
  top: -5px;
  right: -5px;
  width: @space-4;

  &::before {
    .absolute-centered;
    content: "";
    background-color: @color-red;
    border-radius: @border-radius-pill;
    height: @space-2;
    width: @space-2;
  }
}

::slotted(img) {
  object-fit: cover;
  overflow: hidden;
}
