
@font-face {
  font-family: "Inter Var";
  font-weight: 1 999;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: local("Inter"),
       url("Inter-subset.var.woff2?v=3.13") format("woff2");
}
