@import (reference) "https://unpkg.com/@core-ds/primitives/core-primitives.less";
@box-shadow: 0 0 0 3px fade(@color-blue-light-1, 30%);
@space-large: 20px;

// :host targets the custom element compiled by Stencil
:host {
  color: @color-gray-5;
  display: inline-flex;
  font: inherit;

  // @Prop type size
  &([large]) {
    .native-element {
      height: @space-large;
      width: @space-large;

      &:checked:after {
        content: url(assets/svg/check.svg);
        height: 9px;
        top: 2px;
        width: 12px;
      }
    }
  }
}

.native-element {
  background: @color-white;
  border: 0;
  border-radius: @space-1;
  box-shadow: 0 0 0 1px @color-gray-3;
  cursor: pointer;
  display: flex;
  font: inherit;
  height: @space-4;
  margin: 0;
  margin-right: @space-2;
  outline: none;
  transition: background 0.12s ease-in-out, box-shadow 0.12s ease-in-out;
  width: @space-4;

  &:not(:disabled) {
    &:focus {
      border-color: @color-gray-5;
    }
  }

  &:disabled {
    background: @color-gray-1;
    box-shadow: 0 0 0 0 transparent;
    color: @color-gray-4;
    cursor: not-allowed;
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .native-element {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;

    &:checked {
      background: @color-blue;
      box-shadow: 0 0 0 1px @color-blue-dark-1;

      &:after {
        content: url(assets/svg/check-sm.svg);
        height: 7px;
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translate(-50%);
        width: 10px;
      }
    }
  }
}
