@tab-line-height: 3px;

// `shadow: false' is set in `core-tab.tsx`, so we target the custom-element selector directly instead of `:host` and remove the LESS selector wrapping parenthesis for targeting in shadow-dom
core-tab {
  display: flex;
  line-height: inherit;
  position: relative;

  &:not(:last-of-type) {
    margin-right: 28px;
  }

  &[active],
  .native-element:hover {
    &::after {
      .pill(@tab-line-height);
      content: "";
      background-color: transparent;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .native-element:hover {
    color: @color-gray-7;
    cursor: pointer;

    &::after {
      background-color: @color-gray-4;
    }
  }

  &[active] {
    &::after {
      background-color: @color-blue;
    }

    .native-element {
      color: @color-blue;
    }
  }

  &[disabled] {
    cursor: not-allowed;

    .native-element {
      color: @color-gray-3;
      pointer-events: none;

      &::after {
        content: none;
      }

      &:hover {
        color: @color-gray-3;
      }
    }
  }

  .native-element {
    color: @color-gray-5;
    display: flex;
    padding-right: @space-2;
    padding-left: @space-2;
    text-align: center;
  }
}

core-tab-group[size="small"] core-tab {
  &.active::after,
  &[active]::after {
    height: 2px;
  }

  .native-element {
    padding-right: 0;
    padding-left: 0;

    &:hover::after {
      height: 2px;
    }
  }
}
